
<div class="container px-5 px-sm-0">
  <% if @book.errors.any? %>
  <div class="error-messages">
    <h3>
      <%= @book.errors.count %> errors prohibited obj from being saved:
    </h3>
    <% @book.errors.full_messages.each do |message| %>
      <ul>
        <li><%= message %></li>
      </ul>
    <% end %>
  </div>
  <% end %>

  <div class="row">

    <%= render "userinfo", book: @book, user: @user %>

  </div>
</div>

